%article
  = image_tag research.image.url(:thumb)
  %div
    %header
      %h1= research.title
    %p= raw research.description
    %h3 Projetos:
    %ul
      - for project in research.projects
        %li= link_to project.title, project
