%section#free-software
  %header
    %h1 Software livre
    %p Além dos projetos de pesquisa, o grupo também tem projetos de apoio na migração de sistemaspara Software Livre:
  %section#researches
    = render partial: 'research', locals: { research: @research }
