%section#news
  %header
    %h1 Todas Notícias
  - @articles.keys.sort.reverse.each do |year|
    %section.year
      %header
        %h2= l(year, :format => :year)
      - @articles[year].keys.sort.reverse.each do |month|
        %article.month
          %header
            %h2= l(month, :format => :month)
          - for article in @articles[year][month] do
            %div.articles
              %p
                = image_tag article.image.url(:thumb)
                = link_to article.title, article_path(article)
