%aside#news-menu
  %section
    %header
      %h1 Últimas Notícias
    - @articles.each do |article|
      %article{:class => "news-item"}
        %header
          %h1= link_to article.title, article_path(article)
        %p
          =l(article.published_at, :format => :long)
    %div.right= link_to "Todas Notícias", articles_path
