%article#home
  %p O Centro de Computação Científica e Software Livre (C3SL) é um grupo de pesquisa do #{link_to "Departamento de Informática da Universidade Federal do Paraná", "http://www.inf.ufpr.br/"}, registrado no #{link_to "Diretório de grupos de pesquisa do Diretório de grupos de pesquisa do CNPq", "http://dgp.cnpq.br/buscaoperacional/detalhegrupo.jsp?grupo=01031034GQX63D"}.

  %p Os projetos de pesquisa do grupo têm caráter multidisciplinar e envolvem estudos em diversas áreas da ciência da computação, tais como BD, ES, RC e IA. Todo pacote de software que é resultado destes estudos é publicado em forma de software livre. Diversos projetos são voltados para projetos que beneficiam a sociedade brasileira em geral, em particular, pesquisas que resultam em inclusão digital. Neste sentido, o grupo também atua na migração de sistemas proprietários para plataformas de software livre e também na otimização de pessoal e de custos de soluções de hardware e software.
%br.clear
%footer
  %section#address
    %p Depto. de Informática - UFPR - Centro Politécnico
    %p Jardim das Américas Cx. Postal 19081 CEP 81531-980
    %p Curitiba - PR - Brasil
  %section#contact
    %p Fone: +55 41 3361 3567
    %p Fax: +55 41 3361 3205
    %p E-mail: contato@c3sl.ufpr.br
  %section#image
    = image_tag('ufpr.jpg')
