// Place all the styles related to the mirrors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section#mirros {
  section {
    article {
      header {
        h1{
          margin: 0px;
          margin-top: 20px;
          padding: 0px;
        }
      }
      min-height: 140px;
    }
  }
}
