// Place all the styles related to the mirrors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article#mirrors {
   ul {
     padding: 0;
     list-style: none;
     li > a {
       float: left;
     }
   }
}
